.navVar{
    display: flex;
    width: 100vw;
    height:30px;
    margin:20px auto;
    background-color: orangered;
    position: fixed;
    bottom : 750px;
    right : 0px;

}
.navVar .a{
    margin: 0 auto;
    color:aliceblue;
    margin-top: 5px;
    font-weight: 700;
    text-decoration: none;
}

.a :visited{
    color:white;
    font-weight: 700;
    text-decoration: none;
}
.where{
    font-size: 50px;
}
.quiz{
    font-size: 25px;
    font-weight: 900;
}
.o{
    font-size: 60px;
    position: relative;
    color: greenyellow;
    left: 50px;
    top: 50px;
}
.x{
    font-size: 60px;
    position: relative;
    left:210px;
    color: red;
    top: 50px;

}

.result{
    font-size: 50px;
    color: orangered;
    font-weight: 900;
}